* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conatiner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

.calculator {
    height: 610px; 
    width: 365px;
    background-color: black;
   border-radius: 30px;
    overflow: hidden;
}

#display {
    width: 100%;
    height: 150px;
    text-align: right;
    font-size: 3.5rem;
    background-color: transparent;
    color: white;
    padding-right: 10px;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.btn {

    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 3px 3px;
    border: none;
    font-size: 2rem;
    background-color: rgb(117, 111, 111);
    color: white;
    font-weight: 700;
    margin-top: 10px;
    
    
}
 #ac {
    width:160px;
    border-radius: 40px;
    color: white;
    font-weight: 700;
    
} 
#change{
    background-color: orange;
    font-weight: 700;
    color: white;
    font-size: 2rem; 
}



/* MEDIA QUERYYYYY */


@media (max-width:600px) {
    .calculator {
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
    }
    #display {
        height: 33vh;
        width: 100vw;
        padding-top: 200px;
        border-right: none;
        padding-bottom: 40px;
    }
    #ac {
        width: 160px;
        height: 80px;
    }
    .btn {
        height: 75px;
        width: 75;
        border-radius: 50%;
        margin: 5px;
        padding: 0px 0px 0px 0px;
        margin-top: 10px;
    
    }
}
